<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epsmart.wzcc"
    android:versionCode="15"
    android:versionName="1.4.2">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".activity.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- LoginAct -->
        <activity
            android:name="com.epsmart.wzcc.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.supply.SupplyActivity"
            android:screenOrientation="landscape"></activity>

        <!-- <activity
         android:name="com.epsmart.wzcc.activity.MainActivity"
         android:screenOrientation="landscape"
         android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
         </activity>-->

        <activity
            android:name=".activity.achar.DoStatisticsAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.achar.ContractLineCharAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.achar.ProductionFromAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.achar.SettleCharAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.achar.SubstanceaNalysisAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.achar.SubstanceaNalysisActNew"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.supply.SupplyMenuActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.AboutUsAct"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.InstallActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.more.MoreAct"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name=".activity.achar.ScheduleAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.achar.WeeklyAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.achar.PlanCommonAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.more.OffLineCommonAct"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.supply.approval.UnitInforActivity"
            android:screenOrientation="landscape"></activity>

        <!-- 离线数据 -->
        <activity
            android:name=".activity.more.OffLineData"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>


        <activity
            android:name=".activity.supply.connection.ConnectionAct"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.supply.leavebase.LeavebaseAct"
            android:screenOrientation="landscape">>
        </activity>

        <activity
            android:name=".activity.supply.info.InfoActivity"
            android:screenOrientation="landscape">>
        </activity>
    </application>


</manifest>
